html { 
  background-color: black; 
  color: white;
  text-align: center;
  margin: 50px;
}

button {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

h1 {
  font-size: 100px;
  font-family:'Times New Roman', Times, serif;
}
